body{
    background-size: cover;
    background-position:center;
}

.heading{
    color:#c1d0f4;
    font-size: 40px;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.heading:hover{
    font-family: 'Otomanopee One', sans-serif;
    color:#c1d0f4;
    text-shadow:1px 1px 2px lightcyan, 1px 1px 2px lightblue;
}
.button1{
    background-image: url("button.png");
    width: 230px;
    height:40px;
    color:white;
    font-family:monospace;
    padding-top:5;
    font-size: 15px;
    font-weight: bold;
    background-position: center;
    background-size: cover;

}
.button2{
    background-image: url("button.png");
    width: 600px;
    height:30px;
    color:white;
    font-family:monospace;
    padding-top:5;
    font-size: 15px;
    font-weight: bold;
    background-position: center;
    background-size: cover;

}