body{
    background-size: cover;
    background-position:center;
}


#status{
    font-size: 18px;
}

.heading{
    color:#c1d0f4;
    font-size: 40px;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.heading:hover{
    font-family: 'Otomanopee One', sans-serif;
    color:#c1d0f4;
    text-shadow:1px 1px 2px lightcyan, 1px 1px 2px lightblue;
}
button{
    background-image: url("button.png");
    width: 200px;
    height:40px;
    color:white;
    font-family:monospace;
    font-size: 15px;
    font-weight: bold;

}

